
<div class="container" >

<div class="col-xs-5" >
<br>
<h4>Update Student Detail</h4>

</div>
</div>
<div class ="container"  style= "width:200%;">

<%= render 'form', student: @student, class: "btn btn-success btn-sm" %>

</div>
